*{
  margin: 0;
  font-family: sans-serif;
}

body{
  background-color: #f4f4f4;
}

button{
  border: 1px solid blue;
  border-radius: 4px;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #f4f4f4;
  color: blue;
}
button:hover {
  background: #0053ba;
  color: #f4f4f4;
  cursor: pointer;
}
button:active {
  transform: scale(0.99);
}
button:disabled {
  border: 1px solid grey;
  color: grey;
}
button:disabled:hover {
  background-color: grey;
  color: #f4f4f4;
}

/* APP */

.app{
  margin: auto;
  width: 900px;
  display: flex;
  flex-direction: column;
}
.table{
  margin: auto;
  margin-top: 48px;
  width: 900px;
}

.nameOfTable{
  text-align: center;
}

.titles{
  background-color: blue;
  display: flex;
  align-items: center;
  color:#f4f4f4cb;
  height: 60px;
  border-radius: 6px;
}

.titles_archive{
  background-color: rgb(100, 100, 100);
}

.titleSmall{
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.titleMiddle{
  width: 135px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.titleBig{
  width: 167px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item{
  background-color: rgba(0, 0, 255, 0.3);
  width: 900px;
  min-height: 60px;
  max-height: 100px;
  margin: 6px 0;
  border-radius: 6px;

  display: flex;
  align-items: center;

  overflow: hidden;
}

.itemArchive{
  background-color: rgba(100, 100, 100, 0.3);
}

.itemImage{
  background-color: rgb(50, 50, 50, 0.6);
  height: 38px;
  width: 38px;
  border-radius: 24px;
  margin: auto;
  padding: 5px;
}

.itemImage img{
  width: 38px;
  height: 38px;
  color: white;
}

.actions{
  display: flex;
}

.actions button{
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
.actions button:hover{
  opacity: 0.7;
}

.action img{
  height: 24px;
  width: 24px;
  margin: 4px;
}

.addItemBtn{
  float: right;
}

/* MODAL */

.modal{
  position: fixed;
  width: 600px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4f4f4;
  z-index: 5;
}

.modalHead{
  width: 100%;
  padding: 1em 0;
  background-color: blue;
  color: #f4f4f4;
  text-align: center;
}

.modal form{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px auto;
}

.modal form input,
.modal form select,
.modal form textarea{
  margin: 8px;
  padding: 10px 20px;
}

.modal form input:focus,
.modal form select:focus,
.modal form textarea:focus{
  outline: none;
}

.modal form textarea{
  height: 50px;
}

#btnSaveItem{
  margin-left: 50%;
  transform: translateX(-50%);
}

#overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
}
